/* once internet is back add font links and icon links #2 */
/* #4 transition */
* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer {
    color:white;
    background-color: #3e1305;
}

footer a {
    color: white;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    top: 0;
    left: 0;
    padding: .5rem .5rem 1rem .5rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul a:hover {
    color: #f0f0f0;
    border-bottom: .8rem solid #f0f0f0;
}

header {
    margin-top: 0;
    margin-bottom: .5rem;
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-color: #0084af;
    background-position: center;
}

header p {
    font-size: 1.25rem;
    font-style: italic;
}

#menu {
    background-color: #f0f0f0;
}

#menu dt {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: bold;
}

#menu dd {
    margin: 0;
}

#menu img {
    height: 200px;
    border-radius: 15px;
}

#about {
    background-color: #e0e0e0;
    line-height: 1.5;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type {
    padding-top: 8px;
}

.material-icons {
    position: relative;
    top: 5px;
}